# Name of the job
name: Build and push Docker image

# Trigger the job on push events to tags matching 'v*' (e.g. v1.0, v20.15.10)
on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    # Run the job on the latest version of Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Extract the version from the Git tag
      - name: Extract version from Git tag
        id: get_version
        run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

      # Set up QEMU, which allows the Docker daemon to build and run multi-architecture images
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Docker Buildx, which enables building and pushing of multi-architecture images
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push the Docker image
      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          # Push the built image to DockerHub
          push: true
          # Set the tags for the built image
          tags: |
            aladex/kinozal_monitor:${{ steps.get_version.outputs.VERSION }}
            aladex/kinozal_monitor:latest
          platforms: linux/amd64,linux/arm64
          cgo: true

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Build Linux binary
        run: |
          go mod tidy
          go build -buildvcs=false -o kinozal_monitor
        env:
          CGO_ENABLED: 1

      # Create a GitHub release and upload the Linux binary
      - name: Create GitHub release and upload binary
        uses: softprops/action-gh-release@v1
        with:
          files: ./kinozal_monitor
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}